<%= form_for @listing do |f| %>

    <% if @listing.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@listing.errors.count, "error") %> prohibited
            this house from being saved:
          </h2>
          <ul>
            <% @listing.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :hid %><br>
      <%= f.text_field :hid %>
    </p>

    <p>
      <%= f.label :address %><br>
      <%= f.text_field :address %>
    </p>

    <p>
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <strong>Agents:</strong>
      <%= select_tag "agent_id",options_from_collection_for_select(Agent.all, "id", "name")%>
    </p>
    <strong>Features:</strong>
    <%= f.collection_check_boxes :feature_ids, Feature.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
    <% end %>

    <p>
      <%= f.submit %>
    </p>
<% end %>

