<h1>Listing Houses</h1>

<%= link_to 'Home', root_path %> |
<%= link_to 'Add House', new_listing_path %>


<table>
  <tr>
    <th>House ID</th>
    <th>Address</th>
    <th>Listing Price</th>
    <th colspan="4"></th>
  </tr>

  <% @listings.each do |house| %>
      <tr>
        <td><%= house.hid %></td>
        <td><%= house.address %></td>
        <td><%= house.price %></td>
        <td><%= link_to 'Show', listing_path(house) %></td>
        <td><%= link_to 'Edit', edit_listing_path(house) %></td>
      </tr>
  <% end %>
</table>


