<p>
  <strong>House Id:</strong>
  <%= @listing.hid %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Agent Information:</strong>
  <p>
    Name: <%= @listing.agent.name %>
  </p>
  <p>
    Email: <%= @listing.agent.email %>
  </p>
  <p>
    Phone: <%= @listing.agent.phone %>
  </p>
</p>

<p>
  <strong>Features:</strong>
  <% @listing.feature.each do | teacher | %>

      <%= teacher.nil? %>
  <% end %>
</p>

<%= @listing.feature.inspect%>

<%= link_to 'Back', listings_path %>
<%= link_to 'Home', root_path %>