<h1>Welcome to Mike's Realtor Helper</h1>
<%= link_to 'All Listings', controller: 'listings' %> |
<%= link_to 'All Agents', controller: 'agents' %> |
<%= link_to 'All Features', controller: 'features' %>